	
	/*****************CATEGORIE distrib****************/
	
	
#boutique{
		margin-left: 17%;
		background-color: #FFF;
		min-height: 85%;
	}
	
#boutique header{
		padding-top: 1.5rem;
		padding-bottom: 1rem;
		width: 100%;
		color: #030310;
		/*opacity: .5;*/
	}
	
#boutique header select{
		margin-right: 1rem;
		min-width: 100%;
		max-width: 100%;
		font-family: Montserrat;
		font-size: 11px;
		opacity: .5;
	}
	
#boutique header .selectdark{
		color: white;
		background-color: black;
		opacity: 1!important;
	}
	
#boutique .content{
	/*padding-top: 1rem;*/
	background-color: #F5F5F5;
}
	

	/*
#boutique h2{
		font-family: Montserrat, sans-serif;
		font-weight: bold;
		font-size: 1.3rem;
		color: #A78A3C;
	}*/
	
#boutique h2{
		font-family: Montserrat, sans-serif;
		font-weight: bold;
		font-size: 1.2rem;
		color: #A78A3C;
		padding-left: 2rem;
		letter-spacing: .2rem;
		margin-top: .5rem;
	}
	
	#boutique h2.panier{
		font-family: Montserrat, sans-serif;
		font-weight: bold;
		font-size: 1.2rem;
		color: #A78A3C;
		padding-left: 0;
	
	}
	
	#boutique .nouveautes{
		
		background-color: #A78A3C;
	}
	
	#boutique .nouveautes h2{
		font-family: Montserrat, sans-serif;
		font-weight: bold;
		font-size: 1.2rem;
		color: #fff;
		padding-left: 2rem;
		letter-spacing: .2rem;
		margin-top: .5rem;
	}

	
#boutique .livres{
		padding-top: 1.5rem;
		/*padding-left: 2%;*/
	}
	
#boutique .coldroiteboutique{
		
		background-color: white;
		/*padding-right: 10%;*/
		padding: 0;
		margin: 0;
		
	}

#boutique .panier{
		padding: .5rem;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	letter-spacing: .2rem;
	color: rgba(145, 145, 145, 1);
	font-size: 1rem;
	margin: 0;
	/*line-height: 1.5rem;*/
	}
	
	/*	#boutique .panier .cta{
		text-align: center;
	width: 80%;
	
	}*/
	
	#boutique .crosssells{
		color: #A78A3C;
		background-color: rgba(167, 138, 60, 0.15);
		font-family: Montserrat, sans-serif;
		font-weight: bold;		
		font-size : .6rem;
		padding: .1rem;
		text-align: center;
		padding-bottom: 1rem;
		padding-top: 1rem;
		letter-spacing: .2rem;
	}
		#boutique .noir{
		color: #000!important;
	}
	
			#boutique .total{
		padding-top: .5rem;
		font-weight: bold;	
	}
	
	
#boutique img{
		max-width: 100%;
		margin-bottom: 1rem;
	}
		
#boutique h3{
			font-family: Piek;
		font-size: 1.2rem;
		font-weight: bold;
		color: #A78A3C;
	}
	
#boutique h4{
	font-family: Montserrat;
	font-size: .8rem;
	font-weight: bold;
	color: #030310;
		letter-spacing: .08rem;
	}
	
	#boutique h5{
	font-family: Montserrat;
	font-size: .7rem;
	font-weight: bold;
	color: #919191;
	letter-spacing: .1rem;
	}
	
	#boutique .collection{

	text-transform: uppercase;
}
	#boutique .categorieboutique{

	text-transform: uppercase;
}
	
#boutique .quatrieme{
	font-family: Lora;
	font-size: .8rem;
	color: #030310;
	padding-left: .5rem;
	letter-spacing: .025rem;
	}
	
	#boutique .sommaire{
	font-family: Montserrat;
	font-weight: bold;
	font-size: .5rem;
	color: #030310;
	letter-spacing: .05rem;

	}
	
/*
#boutique .categorie{
	color: #A78A3C;
	font-size: .5rem;
	text-transform: uppercase;
}*/

.grid-sizer{
	width: 49%;
}
	 .grid-item { /* .grid-sizer, */
width: 49%; /*25*/ /* 16 pour 5 */
  margin-bottom: 1%;
   margin-top: 1%;
   background-color: white;
   padding: 1rem;
}


.gridboutique{
	/*margin-top: 50px;*/
	margin-top: 1%; /* 4% */
}

.gutter-sizer { 
width: 2%; 
}


@media only screen and (max-width: 992px){
	.grid-sizer, .grid-item{
		width: 100%; 
		 margin-bottom: 5%;
	}
	.gutter-sizer { 
width: 0%; 
}


}
/*
@media only screen and (max-width:576px){
	.grid-sizer, .grid-item{
		width: 48%; 
	}
	.gutter-sizer { 
width: 4%; 
}
.itemcontent{
	font-size: 1.2rem;
}
}*/

@media only screen and (max-width:480px){
	/*.grid-sizer, .grid-item{
		width:  100%;
	}*/
	.itemcontent{
	font-size: 1.4rem;
}
}

	/*@media only screen and (max-width:767.98px){*/
/*@media (max-width:767.98px){*/
	@media only screen and (max-width:992px){

	#boutique{
		margin-left: 0;
		width: 100%;
	}
	
			#boutique header{

			margin-top: 100px;

	}
	
		#boutique header select{
		margin-bottom : 1rem;
	}
	
	#boutique .coldroiteboutique{
	display: none;
}
	
}

@media only screen and (max-width:767.98px){

#boutique .quatrieme{
	font-size: 1.1rem;
}

#boutique .sommaire{
	display: none;
}


}