	
	/*****************CATEGORIE distrib****************/
	
	
	#category{
		margin-left: 17%;
		/*padding-left: 10%;
		padding-right: 10%;*/
				background-color: #FFF;
	/*	width: 83%;*/
		min-height: 85%;
	}
	
		#category header{
			/*background-color: #FFF;*/
			padding-top: 1.5rem;
			padding-bottom: 1rem;
			width: 100%;
					color: #030310;
		opacity: .5;
	}
	
	#category header select{
		margin-right: 1rem;
		min-width: 100%;
		max-width: 100%;
		font-family: Montserrat;
		font-size: 11px;

	}
	
		#category .content{
	padding-top: 1rem;
	background-color: #F5F5F5;
	/*padding: 1rem;*/
}
	
	.alphabetical{
		text-align: center;
		margin-top: .8rem;
		letter-spacing: .12rem;
	}
	
		.alphabetical a{
/*padding: .2rem;*/
color: #030310;

	}
	
	
	#category h2{
		font-family: Piek;
		font-weight: bold;
		color: #A78A3C;
	}
	
		#category .films{
		padding-top: 1rem;
		/*text-align:center;*/
	}
	
/*	#category .film{
		text-align:center;
	}*/
	
		#category img{
		max-width: 100%;
		margin-bottom: 1rem;
		/*text-align: center;
		margin: auto;*/
	}
		
		#category h3{
			font-family: Piek;
		text-align:center;
		font-size: .8rem;
		font-weight: bold;
		color: #A78A3C;
	}
	
			#category h4{
				font-family: Montserrat;
		text-align:center;
		font-size: .7rem;
		font-weight: bold;
		color: #030310;
	}
				#category h5{
				font-family: Montserrat;
		text-align:center;
		font-size: .5rem;
		color: #030310;
	}
	

#category .categorie{
	color: #A78A3C;
	font-size: .5rem;
	text-transform: uppercase;
}
	
	.grid-item { 
width: 20%; /*25*/ /* 16 pour 5 */
  margin-bottom: 2%;
   margin-top: 2%;
  /* background-color: black;*/
}


.grid{
	/*margin-top: 50px;*/
	margin-top: 1%; /* 4% */
}

.gutter-sizer { 
width: 6%; 
}


@media only screen and (max-width: 992px){
	.grid-sizer, .grid-item{
		width: 30%; /*33*/
		 margin-bottom: 5%;
	}
	.gutter-sizer { 
width: 5%; 
}


}

@media only screen and (max-width:576px){
	.grid-sizer, .grid-item{
		width: 48%; /*50*/
	}
	.gutter-sizer { 
width: 4%; 
}
.itemcontent{
	font-size: 1.2rem;
}
}

@media only screen and (max-width:480px){
	.grid-sizer, .grid-item{
		width:  100%;
	}
	.itemcontent{
	font-size: 1.4rem;
}
}

	/*@media only screen and (max-width:767.98px){*/
/*@media (max-width:767.98px){*/
	@media only screen and (max-width:992px){

	#category{
		margin-left: 0;
		width: 100%;
	}
	
			#category header{

			margin-top: 100px;

	}
	
		#category header select{
		margin-bottom : 1rem;
		/*min-width: 30%;
		max-width: 30%;*/

	}
	
}
